<!DOCTYPE html>
<html>
    <head>
        <title>Generate Instance</title>
        <link rel="stylesheet" type="text/css" href="../static/generateStyle.css">
    </head>
    <body>
        <h1>Generate instance</h1>

        <!-- Breadcrumb navigation -->
        <div class="breadcrumb">
            <span id="breadcrumb-1" class="active" onclick="goToStep(1)">1.Select Recipe</span>
            <span id="breadcrumb-2" onclick="goToStep(2)">2.Blueprint Size</span>
            <span id="breadcrumb-3" onclick="goToStep(3)">2.Blueprint Input</span>
            <span id="breadcrumb-4" onclick="goToStep(4)">3.Solve Instance</span>
        </div>

        <!-- Recipe Step -->
        <div id="step-1" class="step active">
            <div id="recipe-selection-container">
                <div id="recipe-file-selection">
                    <!-- Recipe file -->
                    <h2>Recipe Selection</h2>
                    <div>
                        <h3>1. Select the recipe file</h3>
                        <input type="file" id="file-id">
                    </div>

                    <!-- Recipe selection -->
                    <div>
                        <h3>2. Select the desired recipe</h3>
                        <select id="recipe-selection">
                            <option value="" disabled selected>Select a recipe</option>
                        </select>
                    </div>
                </div>

                <!-- Recipe selected information -->
                <div id="recipe-container">
                    <!-- Basic info (name, inputs, outputs) -->
                    <div id="recipe-information">
                        <h2>Basic information</h2>
                        <div id="info"></div>
                    </div>
                    <!-- Advanced info (recipes and item recursively involved) -->
                    <div id="recipe-breakdown">
                        <h2>Recipe breakdown</h2>
                        <div id="recipe-names">
                            <h3>Recipes Used</h3>
                        </div>
                        <div id="involved-items">
                            <h3>Items Needed</h3>
                        </div>
                    </div>
                </div>
            </div>

            <button onclick="nextStep(1)">Next Step</button>
        </div>

        <!-- blueprint size step -->
        <div id="step-2" class="step">
            <div id="blueprint-size">
                <h2>Blueprint size</h2>
                <div>
                    <h3>1. Number of rows</h3>
                    <label for="rows">Rows</label>
                    <input type="number" id="rows" name="rows" min="5" value="5">
                </div>

                <div>
                    <h3>2. Number of columns</h3>
                    <label for="cols">Columns</label>
                    <input type="number" id="cols" name="cols" min="5" value="5">
                </div>

                <button onclick="nextStep(2)">Next Step</button>
            </div>
    </div>


        <!-- input/output step -->
        <div id="step-3" class="step">
            <div id="model-view-container">
                <h2>Blueprint input/output</h2>
                <h3> 1. Click the cell you want to edit</h3>
                <div id="canvas-container">
                    <canvas id="model-view" width="500" height="500">
                        Your browser does not support the HTML canvas tag.
                    </canvas>

                    <!-- Cell information -->
                    <div id="cell-info">
                        <h2>Cell Information</h2>
                        <div id="selected-cell-info">
                            <h3>Select values</h3>
                            <div id="item-cell-selection">
                                <h4>Input item</h4>
                                <select id="item-selection">
                                    <option value="none" selected>No item</option>
                                </select>
                            </div>
                            <h4>Is output cell</h4>
                            <div class="custom-checkbox">
                                <label>
                                    <input type="checkbox" id="is-output">
                                    <span class="checkmark"></span>
                                    Output cell
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button onclick="nextStep(3)">Finalize instance</button>
        </div>

        <!-- solve instance step -->
        <div id="step-4" class="step">
            <div id="instance-solve">
                <h3>1. Solve instance</h3>
                <button onclick="solveInstance()">Solve Instance</button>
            </div>
            <div id="instance-status">
                <h3>2. Instance status </h3>
                <p id="status-text"> Waiting to send the instance to the solver</p>
            </div>
            <div id="save-instance">
                <h3>3. Download solution </h3>
                <button onclick="downloadSolution()" type="button" id="download-solution" disabled>Download Solution</button>
            </div>

        </div>


        <!-- Scripts -->
        <script>
            function nextStep(currentStep) {
                goToStep(currentStep + 1);
            }

            function goToStep(step) {
                // Remove 'active' class from current step and breadcrumb
                var currentStep = document.querySelector('.step.active');
                currentStep.classList.remove('active');
                var currentBreadcrumb = document.querySelector('.breadcrumb span.active');
                currentBreadcrumb.classList.remove('active');

                // Add 'active' class to new step and breadcrumb
                var newStep = document.getElementById('step-' + step);
                newStep.classList.add('active');
                var newBreadcrumb = document.getElementById('breadcrumb-' + step);
                newBreadcrumb.classList.add('active');
            }
        </script>

        <script src="../static/CellInfo.js"></script>
        <script src="../static/Blueprint.js"></script>
        <script src="../static/InputBlueprint.js"></script>
        <script src="../static/Recipes.js"></script>
        <script src="../static/main.js"></script>

    </body>
</html>
