<!DOCTYPE html>
<html>
    <head>
        <title>Visualize Instance</title>
        <link rel="stylesheet" type="text/css" href="../static/generateStyle.css">
    </head>
    <body>
        <!-- Main content -->
        <main>
            <h1>Visualize solved instance</h1>
            <div id="select-instance">
                <h3>1. Select the solved instance file or an already solved one from the server library</h3>
                <input type="file" id="instance-file-id">

                <select>
                    <optgroup label="5x5">
                        <option value="Copper Cable">Copper Cable</option>
                        <option value="Battery">Battery</option>
                        <option value="Electronic Circuit">Electronic Circuit</option>
                    </optgroup>
                    <optgroup label="6x6">
                        <option value="Copper Cable">Copper Cable</option>
                        <option value="Battery">Battery</option>
                        <option value="Electronic Circuit">Electronic Circuit</option>
                    </optgroup>
                    <optgroup label="7x7">
                        <option value="Copper Cable">Copper Cable</option>
                        <option value="Battery">Battery</option>
                        <option value="Electronic Circuit">Electronic Circuit</option>
                    </optgroup>
                    <optgroup label="8x8">
                        <option value="Copper Cable">Copper Cable</option>
                        <option value="Battery">Battery</option>
                        <option value="Electronic Circuit">Electronic Circuit</option>
                    </optgroup>
                </select>

            </div>
            <h3>2. Click the cell that you want to see the information</h3>
            <div id="model-view-container">
                <div id="canvas-container">
                    <canvas id="model-view" width="2000" height="2000">
                        Your browser does not support the HTML canvas tag.
                    </canvas>
                    <canvas id="cursor-canvas" width="500" height="500">
                        Your browser does not support the HTML canvas tag.
                    </canvas>
                </div>
                <!-- Cell information -->
                <div id="cell-info">
                    <h2>Cell Information</h2>
                    <div id="selected-cell-info">
                        <!-- Custom information of each cell will be loaded here from the script -->
                    </div>
                </div>
            </div>
        </main>
        <script src="../static/Cell.js"></script>
        <script src="../static/AssemblerCell.js"></script>
        <script src="../static/EmptyCell.js"></script>
        <script src="../static/ConveyorCell.js"></script>
        <script src="../static/InserterCell.js"></script>
        <script src="../static/Blueprint.js"></script>
        <script src="../static/SolvedBlueprint.js"></script>
        <script src="../static/InstanceLoader.js"></script>
        <script src="../static/InstanceVisualizerMain.js"></script>



    </body>
</html>